/Episode: 02/node_modules
/Episode: 02/.parcel-cache
/Episode: 02/dist

/Episode: 03/node_modules
/Episode: 03/.parcel-cache
/Episode: 03/dist

/Coading Assignment/Episode 03/.parcel-cache
/Coading Assignment/Episode 03/node_modules
/Coading Assignment/Episode 03/dist