.not-rendered {
    color: rgb(233, 70, 70);
}

.app-Conatiner {
}

#root {
    align-items: center;
    font-family: sans-serif, arial, Helvetica Neue, sans-serif;
}

.header-Item {
    height: 80px;
    background-color: var(--header-bg-color);
    color: var(--light-text-color);
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    display: flex;
    overflow-y: hidden;
    box-shadow: 0px 2px 5px 0px #0000009c;
}

.menu-list > ul {
    padding: 20px;
    display: flex;
    list-style-type: none;
}
.menu-list > ul > li {
    padding: 10px;
}

.menu-list > ul > li:hover {
    cursor: pointer;
    color: blue;
}

.imgage-logo > img {
    width: 50px;
}

.searchBar {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    align-items: center;
}

.searchBar > div > input {
    height: 25px;
}

.searchBar > div > button {
    height: 30px;
}

.restaurant-list {
    margin-top: 5px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.card {
    width: 260px;
    cursor: pointer;
    max-height: 500px;
}

.externalCard .card {
    border: none !important;
    margin: 0px !important;
}

.externalCard {
    padding: 20px 20px 20px;
    border: 1px solid #fff;
}
.externalCard:hover {
    border-color: #d3d5df;
    box-shadow: 0 4px 7px 0 rgba(218,220,230,.6);
}

.card > img {
    width: 100%;
}

.card > span {
    display: flex;
    justify-content: space-evenly;
}

.card > span > h4 {
    text-align: center;
}

.card > span > h4:first-child {
    display: flex;
    align-items: center;
    background-color: rgb(19, 176, 1);
    border-radius: 5px;
    padding: 0 5px 0;
    color: white;
}

.card > span > h4:first-child .fa-star {
    font-size: small;
    padding: 0 5px 3px 0;
}

.card_text p {
    font-size: 12px;
    line-height: 1.5;
}

.card_text p:last-child {
    margin: 0;
}

.fonts-loaded {
    font-family: sans-serif, arial, Helvetica Neue, sans-serif;
    letter-spacing: 0;
}

/* Shimmer */
.shimmer-container {
    padding: 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
}

/* Ayush */
.shimmer-container .shimmer-img {
    height: 200px;
    width: 100%;
}

.shimmer-img {
    width: fit-content;
}

.shimmer-title {
    width: 40%;
    margin-top: 10px;
}

.shimmer-verg-nonvej {
    width: 40%;
    margin-top: 10px;
}

.shimmer-area {
    width: 100%;
}

.shimmer-card-bottom {
    width: 25%;
    margin-top: 0.4rem;
    margin-bottom: 0px;
}

/*Animation to Shimmer Component Cards */
.stroke {
    height: 12px;
    background: #777;
}
.animate {
    animation: shimmer 3s;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
    background-size: 1000px 100%;
}
@keyframes shimmer {
    from {
        background-position: -1000px 0;
    }
    to {
        background-position: 1000px 0;
    }
}

.color {
    background-color: greenyellow;
}

.rating-card {
    background-color: red;
}

.restaurant-Name-Add {
    font-size: 0.80rem;
    color: #7e808c;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    white-space: nowrap;
}

.res_details_rating {
    border: 1px solid #e9e9eb;
    box-shadow: 0 1px 5px #f9f9f9;
    border-radius: 6px;
    text-align: center;
    padding: 8px;
    max-width: 100px;
    float: right;
}

.item-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inline-item {
    display: flex;
}
.restaurantNameStyle {
    font-size: 1rem;
    font-weight: 600;
    color: #282c3f;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.RestaurantTimeCost > p {
    color: #3e4152;
    font-size: 15px;
    font-weight: 700;
}

hr.new {
    border: none;
    border-bottom: 1px dashed #d3d3d3;
    opacity: 1.5;
}

.vegOnly {
    font-size: 1rem;
    color: #3d4152;
    font-weight: 600;
}

.recommended {
    color: #3e4152;
    font-size: 1rem;
    display: inline-block;
}

.menu_Reataurant_Align {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-Img {
    width: 118px;
    height: 96px;
    object-fit: cover;
    border-radius: 6px;
}

.styles_itemNameText {
    margin-right: 4px;
    font-size: 1rem;
    font-weight: 500;
    color: #3e4152;
    word-break: break-word;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    letter-spacing: 0;
}
.vej_Item {
    color: #0f8a65;
}

.nonVej_Item {
    color: #e43b4f;
}

.menu-img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 200px;
    overflow: hidden;
}

.add-btn {
    margin-left: 2px;
    padding: 5px 15px;
    cursor: pointer;
    margin-top: -20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.avg_icon_good {
    color: #3d9b6d;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9e9eb;
    font-weight: 700;
    margin-bottom: 8px;
    display: block;
}
.avg_icon_bad {
    color: rgb(237, 89, 89);
    padding-bottom: 10px;
    border-bottom: 1px solid #e9e9eb;
    font-weight: 700;
    margin-bottom: 8px;
    display: block;
}

.restaurantRatings_totalRatings {
    font-size: 10px;
    color: #8b8d97;
    font-family: ProximaNovaCondensedRegular,arial,Helvetica Neue,sans-serif;
}

.centerOfScreen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.restype-txt {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgb(255, 255, 255);
}

.res-type-conatiner {
    background: rgb(58, 60, 65);
    color: rgb(255, 255, 255);
    border-color: rgb(30, 32, 35) transparent;
    position: absolute;
    left: -8px;
    top: 0;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 9px 4px;
    max-width: 50%;
    text-transform: uppercase;
}

.res-type-conatiner::before {
    position: absolute;
    bottom: -9px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: inherit;
    left: 0;
    border-width: 9px 0 0 9px;
}

.cuisinedStyle {
    color: #686b78;
    font-size: 13px;
    margin-top: 4px;
    justify-content: space-between;
    display: flex;
}

.discount {
    border-top: 1px solid #e9e9eb;
    display: flex;
    gap: 5px;
    color: #686b78;
    font-size: 13px;
    margin-top: 4px;
    padding-top: 14px;
    margin-top: 14px;
    color: #8a584b;
    display: -ms-flexb
}

.menu-items-list .card {
    width: auto;
    border: none;
}

.menu-items-list .card:hover {
    border: none;
}

.inline-item .card {
    width: auto;
}

.categoriesListCard .card {
    width: auto;
    border: none;
}

.submenu {
    color: #282c3f;
    font-size: 1.15rem;
    font-weight: 400;
}

.menu-description {
    margin-top: 14px;
    line-height: 1.3;
    color: rgba(40,44,63,.45);
    width: 70%;
    letter-spacing: -.3px;
    font-size: 1rem;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: white;
    box-shadow: none
}

.onHoverDisplay {
    display: none;
}

.onHoverDisplay:hover {
    display: block;
}

.inline-item {
    gap: 2rem;
    margin-bottom: 20px;
}

.pureVeg {
    margin-top: 35px;
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    font-weight: 500;
}

.price-Font {
    font-size: 12px;
}

.addToCart {
    padding: 11px 16px;
    background-color: #60b246;
    color: #fff;
    position: relative;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}