.not-rendered {
    color: rgb(233, 70, 70);
}

.app-Conatiner {
}

#root {
    align-items: center;
    font-family: sans-serif, arial, Helvetica Neue, sans-serif;
}

.header-Item {
    height: 80px;
    background-color: var(--header-bg-color);
    color: var(--light-text-color);
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    display: flex;
    overflow-y: hidden;
    box-shadow: 0px 2px 5px 0px #0000009c;
}

.menu-list > ul {
    padding: 20px;
    display: flex;
    list-style-type: none;
}
.menu-list > ul > li {
    padding: 10px;
}

.menu-list > ul > li:hover {
    cursor: pointer;
    color: blue;
}

.imgage-logo > img {
    width: 50px;
}

.searchBar {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.searchBar > div > input {
    height: 25px;
}

.searchBar > div > button {
    height: 30px;
}

.restaurant-list {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    border: 1px solid;
    border-color: #ececec;
    border-radius: 2%;
}

.card:hover {
    border: 1px solid;
    border-color: #d3d5df;
    border-radius: 2%;
    box-shadow: 0 4px 7px 0 rgba(218, 220, 230, 0.6);
}

.card > img {
    width: 100%;
}

.card > span {
    display: flex;
    justify-content: space-evenly;
}

.card > span > h4 {
    text-align: center;
}

.card > span > h4:first-child {
    display: flex;
    align-items: center;
    background-color: rgb(19, 176, 1);
    border-radius: 5px;
    padding: 0 5px 0;
    color: white;
}

.card > span > h4:first-child .fa-star {
    font-size: small;
    padding: 0 5px 3px 0;
}

.card_text p {
    font-size: 12px;
    line-height: 1.5;
}

.card_text p:last-child {
    margin: 0;
}

.fonts-loaded {
    font-family: sans-serif, arial, Helvetica Neue, sans-serif;
    letter-spacing: 0;
}

/* Shimmer */
.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Ayush */
.shimmer-container .shimmer-img {
    height: 410px;
    width: 500px;
}

.shimmer-img {
    width: fit-content;
}

.shimmer-title {
    width: 40%;
    margin-top: 10px;
}

.shimmer-verg-nonvej {
    width: 40%;
    margin-top: 10px;
}

.shimmer-area {
    width: 100%;
}

.shimmer-card-bottom {
    width: 25%;
    margin-top: 0.4rem;
    margin-bottom: 0px;
}

/*Animation to Shimmer Component Cards */
.stroke {
    height: 12px;
    background: #777;
}
.animate {
    animation: shimmer 3s;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
    background-size: 1000px 100%;
}
@keyframes shimmer {
    from {
        background-position: -1000px 0;
    }
    to {
        background-position: 1000px 0;
    }
}
